<!doctype html>
<html ng-app="csvapp">
<head>
  <meta http-equiv="Content-Type" content="text/html; charset=utf-8" />
  <meta name="viewport" content="width=device-width, initial-scale=1" />
  <title>Csv Manager</title>

  <script src="https://ajax.googleapis.com/ajax/libs/jquery/1.11.3/jquery.min.js"></script>
  <script src="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.5/js/bootstrap.min.js"></script>
  <script src="https://ajax.googleapis.com/ajax/libs/angularjs/1.6.9/angular.min.js"></script>
  <script src="https://ajax.googleapis.com/ajax/libs/angularjs/1.6.9/angular-resource.min.js">
  </script>
  <script src="https://ajax.googleapis.com/ajax/libs/angularjs/1.6.9/angular-route.min.js">
  </script>

  <link rel="stylesheet"
    href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.5/css/bootstrap.min.css" />

  <style>
    body {
      background-color: #DDD;
    }

    div.content-box {
      background-color: #FFF;
      border-radius: 8px;
      padding-bottom: 10px;
    }

    div.outer-content-box {
      margin-bottom: 15px;
    }

    div.content-box h2 {
      text-align: center;
    }
  </style>
  {% block html_head %}
  {% endblock %}
</head>

<body>
  <div class="container-fluid outer-content-box">
    <div class="row">
      <div class="col-lg-6 col-lg-offset-3 col-md-6 col-md-offset-3 content-box">
        {% block html_body %}
        {% endblock %}
      </div>
    </div>
  </div>
</body>
</html>
